Repository mkpanq/mkpanq_com_v1: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    prettier:
     glob: "*.astro"
     run: npx prettier --check {staged_files}
     stage_fixed: true

Insert link to contact for the availability component
  src/components/Availability.astro
Due: prettier

Contact page
  src/components/Availability.astro
  src/layouts/MainLayout.astro
  src/pages/contact.astro
  src/styles/global.css
Due: prettier

Small fixes on contact page, initial footer, needs to fix layout
  src/components/Footer.astro
  src/layouts/MainLayout.astro
  src/pages/contact.astro
Due: prettier

Changes to main and page layout
  src/layouts/MainLayout.astro
  src/layouts/PageLayout.astro
Due: prettier

Left as it is for now:
  src/components/Footer.astro
  src/layouts/MainLayout.astro
  src/layouts/PageLayout.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
Due: prettier

Little cleanup with datetime calc in footer
  src/components/Footer.astro
  src/lib/currentDatetime.js
Due: biome, prettier

404 and 500 pages cleanup
  src/pages/404.astro
  src/pages/500.astro
Due: prettier

WIP - small tweaks
  README.md
  src/pages/index.astro
Due: prettier

Add robots and sitemap integration, remove old react and preact packages
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/layouts/MainLayout.astro
Due: biome, prettier

Initital SEO, remove old todo files
  package.json
  pnpm-lock.yaml
  public/robots.txt
  public/sitemap.txt
  src/layouts/MainLayout.astro
  src/layouts/PageLayout.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
Due: biome, prettier

Add sitemap and test built website. Remove 500 for now due to rendering on demand flaw
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/favicon.png
  src/layouts/MainLayout.astro
  src/layouts/PageLayout.astro
  src/pages/500.astro
  src/pages/about.astro
  src/pages/index.astro
Due: biome, prettier

Small changes in dev dependencies
  package.json
  pnpm-lock.yaml
Due: biome

WIP
  astro.config.mjs
Due: biome

Dockerfile with entrypoint and rest of the configuration
  .dockerignore
  Dockerfile
  astro.config.mjs
  entrypoint.sh
  package.json
  pnpm-lock.yaml
Due: biome

Umami script for monitoring
  src/layouts/MainLayout.astro
Due: prettier

Small changes in OG
  src/layouts/MainLayout.astro
Due: prettier

is:inline for umami script
  src/layouts/MainLayout.astro
Due: prettier

Improve SEO
  src/layouts/MainLayout.astro
  src/pages/about.astro
  src/pages/contact.astro
Due: prettier

Check autodeploy
  src/layouts/MainLayout.astro
Due: prettier

Again, small check for testing autodeployment
  src/layouts/MainLayout.astro
Due: prettier

OG data separated for each page
  src/layouts/MainLayout.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
Due: prettier

Update README.md
  README.md
Due: none
