Repository mkpanq/mkpanq_com_v1: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    prettier:
     glob: "*.astro"
     run: npx prettier --check {staged_files}
     stage_fixed: true

VantaJS background
  bg.svg
  src/pages/index.astro
Due: prettier

Initital light and dark mode colors
  src/pages/index.astro
Due: prettier

Small adjustments
  src/pages/index.astro
Due: prettier

Small color change
  src/components/Background.d.ts
  src/components/background.tsx
  src/pages/index.astro
Due: biome, prettier

background separataed component
  package.json
  pnpm-lock.yaml
  src/components/Background.d.ts
  src/components/background.jsx
  src/components/background.tsx
  src/pages/index.astro
Due: biome, prettier

Types issues fixing
  src/components/background.tsx
  src/vanta.types.d.ts
  tsconfig.json
Due: biome

simple theme switcher based on the window api
  biome.json
  src/components/background.tsx
  src/components/themeSwitcher.tsx
  src/pages/index.astro
Due: biome, prettier

very basic theme switcher - needs improvements
  biome.json
  src/components/background.tsx
  src/components/themeSwitcher.tsx
Due: biome

some improvements, but still looks ugly
  src/components/background.tsx
Due: biome

Theme switcher - need to handle rerendering issue with WebGL context
  package.json
  pnpm-lock.yaml
  src/components/background.tsx
  src/components/themeSwitcher.tsx
  src/stores/useTheme.ts
Due: biome

Improved background state handling
  src/components/background.tsx
Due: biome

Very basic theme switcher improvement - leave it for now
  src/components/themeSwitcher.tsx
  src/pages/index.astro
Due: biome, prettier

Layout change based on internal figma projects
  src/components/background.tsx
  src/layouts/main.astro
Due: biome, prettier

Small menu, add theme switcher, need to proper handle website theme
  src/components/background.tsx
  src/components/themeSwitcher.tsx
  src/layouts/main.astro
  src/pages/index.astro
Due: biome, prettier

Need to fix theme switch, use main layout
  biome.json
  src/components/themeSwitcher.tsx
  src/layouts/main.astro
  src/pages/index.astro
  src/styles/global.css
Due: biome, prettier

Better theme switch handling
  src/components/background.tsx
  src/components/themeSwitcher.tsx
  src/config/colors.ts
  src/layouts/MainLayout.astro
  src/pages/index.astro
  src/stores/useTheme.ts
  src/styles/global.css
Due: biome, prettier

Change from fog to topology background, redesign the whole site
  src/components/background.tsx
  src/config/colors.ts
  src/layouts/MainLayout.astro
  src/pages/index.astro
  src/vanta.types.d.ts
Due: biome, prettier

Initital header
  src/components/header.tsx
  src/layouts/MainLayout.astro
  src/styles/global.css
Due: biome, prettier

Very basic nav, rearrange background to absolute postion
  src/components/background.tsx
  src/components/header.tsx
  src/layouts/MainLayout.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/styles/global.css
Due: biome, prettier

Add couple of pages, together with the Client Router component. Need to get rid of 3D background, replace react with preact for interactive welcome
  astro.config.mjs
  src/components/Header.astro
  src/components/header.tsx
  src/layouts/MainLayout.astro
  src/pages/404.astro
  src/pages/500.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
Due: biome, prettier

Create different background, remove zustand, react and replace it with preact, remove useless files
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/background.tsx
  src/components/themeSwitcher.tsx
  src/config/colors.ts
  src/layouts/MainLayout.astro
  src/stores/useTheme.ts
  src/styles/global.css
  tsconfig.json
Due: biome, prettier

WIP
  src/layouts/MainLayout.astro
  src/styles/global.css
  tsconfig.json
Due: biome, prettier

better 3rd part switcher
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/components/ThemeToggle.astro
  src/layouts/MainLayout.astro
  src/styles/global.css
Due: biome, prettier

Adjust colors dor light and dark mode
  src/components/Background.astro
  src/components/Header.astro
  src/components/ThemeToggle.astro
  src/layouts/MainLayout.astro
  src/styles/global.css
Due: prettier

Simple responsive menu page
  src/components/Header.astro
  src/layouts/MainLayout.astro
Due: prettier

WIP with responsive menu, but due to astro ClientRouter will try to make it little bit different
  .continue/docs/new-doc.yaml
  src/components/Header.astro
  src/layouts/MainLayout.astro
Due: prettier

Remove memu, just go with the normal flex box for now
  src/components/Header.astro
  src/components/ThemeToggle.astro
  src/styles/global.css
Due: prettier

404 and 500 pages styling
  src/layouts/ErrorLayout.astro
  src/pages/404.astro
  src/pages/500.astro
Due: prettier

500
  src/pages/500.astro
Due: prettier

Remove old vanta types file
  src/vanta.types.d.ts
Due: biome

Better layout reorg, remove some unused files
  astro.config.mjs
  bg.svg
  src/layouts/MainLayout.astro
  src/layouts/PageLayout.astro
  src/pages/404.astro
  src/pages/500.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
Due: biome, prettier

Ignore some files in git
  .continue/docs/new-doc.yaml
  .gitignore
  public/favicon.svg
Due: none

Remove favicon link
  src/layouts/MainLayout.astro
Due: prettier

Initital index page
  src/pages/index.astro
Due: prettier

Initital index responsiveness
  src/pages/index.astro
Due: prettier

More responsiveness improvements
  src/pages/index.astro
Due: prettier

About page
  public/mp.jpeg
  public/robots.txt
  public/sitemap.txt
  src/pages/about.astro
  src/pages/index.astro
Due: prettier

About page looks ready
  src/pages/about.astro
Due: prettier

Fix background cut
  src/components/Background.astro
Due: prettier

Availability button
  src/components/Availability.astro
  src/pages/index.astro
Due: prettier
